.input-section {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 300px;
    width: 100%;
    flex-direction: column;
}

#input-area {
    width: 200px;
    height: 20px;
    text-align: center;
}
#input-btn {
    height: 30px;
    width: 90px;
    margin-top: 10px;
    font-weight: 900;
}
.clock-section {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 200px;
    width: 100%;
}
.clock-section h2{
    font-family: sans-serif;
    font-weight: normal;
}
#clock {
    font-size: 40px;
    font-family: sans-serif;
    margin-top: -20px;
}